@import url('https://fonts.googleapis.com/css?family=Oxygen:100,200,300,400,500,600,700|Lora:100,200,300,400,500,600,700');

html, body {
	margin: 0;
	padding: 0;
	font-family: "Oxygen", sans-serif;
	color: #6e7598;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lora", sans-serif;
    font-weight: 700;
}

.container-fluid {
	padding: 0;
}

/* ----------- Bg Colors -------------*/

html, body {
    background-color: #f6bfca;
}

footer {
    background-color: #343a40;
}

.bg-color-venue-timelime {
    background-color: #a0a8f0;
}

.venue-dates {
    background-color: rgb(190, 202, 210);
}

.venue-bg-color {
    background-color: #a0a8f0;
    border: solid 3px #f6bfca;
    border-radius: 15px;
}

.photo-gallery {
    background-color: black;
}

/*----------- Header Logo ------------*/

.logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    height: auto;
    max-height: 16rem;
}

/*------------ Home Page -------------*/

.band-1972 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    height: auto;
}

.band-1972-heading{
    text-align: center;
}

.new-album hr,
.video hr {
    background-color: #a0a8f0;
    border-radius: 25px;
    width: 200px;
    height: 3px;
    margin-bottom: 20px;
}

/*-------------- Navbar --------------*/

.navbar-toggler {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-expand-md {
    padding: 1.5rem;
}

.navbar-collapse ul > li {
    padding-left: 20px;
    padding-right: 20px;
}

.nav-item {
    font-size: 1.5rem;
}

.hide-me[aria-expanded="true"] {
    display: none;
}

/*----------- New Xmas Album -------------*/

.xmas-cover-title {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.xmas-cover-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.xmas-cover {
   display: block;
   width: 100%;
   max-width: 800px; 
   height: auto; 
   margin: auto;
}

.album-columns-position {
    flex-flow: column nowrap;
}

.btn-center {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
}



/* -------------- Video --------------------- */

video {
  width: 100% !important;
  height: auto !important;
  margin: .5rem;
}

.video-title {
    font-size: 1.5rem;
}

.video-elms {
    margin-bottom: 1rem;
}

.video-title {
    display: flex;
    justify-content: center;
}

/*------------ Venue Timeline ---------*/

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item::before {
    content: attr(dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Lora", sans-serif;
    font-weight: 500;
    font-size: .8em;
    margin: 0;
    padding: 0;
}

.timeline-item::after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: "";
    background-color: #fafafa;
}

.country-dates {
    padding: 5px 50px;
}

.timeline-heading-container {
    display: flex;
    justify-content: center;
    padding: 5px 0;
    margin-bottom: -15px;
    margin-top: 25px;
}

.venue-dates-heading {
    display: flex;
    justify-content: center;
    padding: 5px 0;
    margin-bottom: 25px;
}

.timeline-column {
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-radius: 25px;
}

/*---------- Event Location / Dates ----------*/

.venue-dates {
    background-color: #f6bfca;
    padding: 25px;
}

.container-venue-dates {
    display: flex;
    flex-flow: column;
    color: #fafafa;
    padding: 5px;
}

.venue-dates hr {
    background-color: #a0a8f0;
    border-radius: 50px;
    width: 100px;
    height: 5px;
}

.venue-bg-color {
    display: flex;
}

.container-venue-dates {
    flex: auto;
}

/*------------- Bookings Section ------------*/

.bookings-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.booking-form {
    margin: 15px 0;
}

.photo-gallery {
    background-color: #6e7598;
    padding: 50px 10px;
}

.gallery-align {
    display: flex;
    justify-content: center;
}

.color-pic {
    flex: initial;
    border: 1px solid transparent;
    border-radius: 25px;
    margin: 10px 5px;
}

/*-------------- Audio Section ---------------*/

.band-bw-photo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    height: auto;
}

.audio-heading {
    justify-content: center;
    margin-top: 20px;
}

.album-cover-2,
.album-cover-1 {
    display: flex;
    justify-content: center;
}

.audio-controls-heading {
    text-align: center;
} 

.audio-files hr {
    background-color: #a0a8f0;
    border-radius: 25px;
    width: 200px;
    height: 3px;
}

.best-of-audio {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.greatest-hits-audio {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.audio-row1,
.audio-row2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.best-of-audio,
.greatest-hits-audio {
    padding: 1rem;
}

audio {
    margin-bottom: 1rem;
}

/* ------------- About Page --------------- */

.bio-elms {
    align-items: center;
}

.bio-info {
    font-size: 24px;
}

.bio-info-heading {
    font-size: 32px;
    font-weight: 700;
}


/* -------- Footer / Social Links --------- */

.footer-section {
    flex-flow: row wrap;
    align-items: center;
} 

.copyright-column,
.social-links-column {
    text-align: center;
}

.copyright-logo,
.copyright-description {
    color: #f9f9f9;
}

.social-links li a i {
    padding: 5px 15px 25px 0;
    font-size: 2.5rem;
    text-align: center;
    color: #f6bfca;
}

.social-links li a i:hover {
    color: #007bff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links-column > ul {
    margin-top: 16px;
    margin-bottom: 5px;
}

.copyright-logo {
    padding-top: 5px;
}

.band-logo-2 {
    background-size: auto;
    width: 90%;
    height: auto;
    max-height: 100px;
    border: 1px solid transparent;
    border-radius: 25px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.logo-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-------------- Media Queries ---------------*/

@media only screen and (min-width: 768px) {
    .navbar-expand-md {
        padding: 0;
    }
}

@media only screen and (max-width: 768px) {    
    h1, h2, h3, h4, h5, h6 {
        font-size: 1.5rem;
    }
    
    .bio-info {
        font-size: 16px;
    }

    .bio-info-heading {
        font-size: 24px;
    }
    
    .profile-pic {
        padding-left: 10px;
    }
}

@media only screen and (min-width: 1024px) {
    .container-venue-dates {
        align-items: center;
    }
}
