@import url('https://fonts.googleapis.com/css?family=Oxygen:100,200,300,400,500,600,700|Lora:100,200,300,400,500,600,700');

html, body {
	margin: 0;
	padding: 0;
}

.container-fluid {
	padding: 0;
}

/* ----------- Bg Colors -------------*/

html, body {
    background-color: pink;
}

footer {
    background-color: #343a40;
}

.bg-color-venue-timelime {
    background-color: rgba(75, 95, 109, 0.6);
}

.venue-dates {
    background-color: rgba(190, 202, 210);
}

.venue-bg-color {
    background-color: #a0a8f0;
    border: solid 1px #f6bfca;
}


/* ---------- Header Logo ------------*/

.logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    height: auto;
    max-height: 16rem;
}


/*-------------- Navbar --------------*/

.navbar-toggler {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-expand-md {
    padding: 1.5rem;
}

/*------------- New Xmas Album ----------------*/

.xmas-cover-title {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.xmas-cover-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.xmas-cover {
   display: block;
   width: 100%;
   max-width: 800px; /*actual image width*/
   height: auto; /* maintain aspect ratio*/
   margin: auto;
}


/* -------------- Video --------------------- */

video {
  width: 100% !important;
  height: auto !important;
}

.video-title {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}


/*------------ Venue Timeline ---------*/

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item::before {
    content: attr(dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Lora", sans-serif;
    font-weight: 500;
    font-size: .8em;
    margin: 0;
    padding: 0;
}

.timeline-item::after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: "";
    background-color: #fafafa;
}

/*---------- Event Location / Dates ----------*/

.venue-dates-positioning {
    display: flex;
    justify-content: space-between;
}

.venue-dates hr {
    background-color: #f6bfca;
    border-radius: 50px;
    width: 100px;
    height: 5px;
}

/*------------- Bookings Section ------------*/

.bookings-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*-------------- Media Queries ---------------*/

@media only screen and (min-width: 768px) {
    .navbar-expand-md {
    padding: 0;
    }
}