/*------------------------Colors-------------------------*/

/*- background-color: #333333; (dark black)
    background-color: #555555; (light black)
    
    text-color: #ebebeb; (off-white)
    
    4 primary colors:
    #e94f64; (red)
    #52d273; (green)
    #468cde; (blue)
    #ffff00; (yellow) -*/

html,
body {
    margin: 0;
    padding: 0;
    background-color: #555555;
}

/*---------------------Navbar-----------------*/

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.container-fluid>.navbar-collapse,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container>.navbar-header {
    text-align: center;
    margin-right: 0;
    margin-left: 0;

}

.navbar-brand {
    padding-right: 2em;
    padding-left: 1em;
}

/*---------------------Flexbox---------------*/

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*---------------------iFrames---------------*/

.embed-responsive-item {
    object-fit: fill;
}


/*-------------------Media Queries------------*/

@media (min-width: 768px) {
    .top-nav-right {
        float: right;
    }
}