@import url('https://fonts.googleapis.com/css?family=Oxygen:100,200,300,400,500,600,700|Lora:100,200,300,400,500,600,700');

html, body {
	margin: 0;
	padding: 0;
}

.container-fluid {
	padding: 0;
}

/* ----------- Bg Colors -------------*/

html, body {
    background-color: pink;
}

footer {
    background-color: #343a40;
}

.bg-color-venue-timelime {
    background-color: #a0a8f0;
}

.venue-dates {
    background-color: rgba(190, 202, 210);
}

.venue-bg-color {
    background-color: #a0a8f0;
    border: solid 3px #f6bfca;
    border-radius: 15px;
}


/* ---------- Header Logo ------------*/

.logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    height: auto;
    max-height: 16rem;
}


/*-------------- Navbar --------------*/

.navbar-toggler {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-expand-md {
    padding: 1.5rem;
}

/*------------- New Xmas Album ----------------*/

.xmas-cover-title {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    font-size: 1.5rem;
}

.xmas-cover-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.xmas-cover {
   display: block;
   width: 100%;
   max-width: 800px; /*actual image width*/
   height: auto; /* maintain aspect ratio*/
   margin: auto;
}

.album-columns-position {
    flex-flow: column;
}

.btn-center {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}



/* -------------- Video --------------------- */

video {
  width: 100% !important;
  height: auto !important;
  margin: .5rem;
}

video h2 {
    font-size: 1.5rem;
}

.video-elms {
    margin-bottom: 1rem;
}

.video-title {
    display: flex;
    justify-content: center;
}

/*------------ Venue Timeline ---------*/

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item::before {
    content: attr(dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Lora", sans-serif;
    font-weight: 500;
    font-size: .8em;
    margin: 0;
    padding: 0;
}

.timeline-item::after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: "";
    background-color: #fafafa;
}

.country-dates {
    padding: 5px 50px;
}

.timeline-heading-container {
    display: flex;
    justify-content: center;
    padding: 5px 0;
    margin-bottom: -15px;
    margin-top: 25px;
}

.venue-dates-heading {
    display: flex;
    justify-content: center;
    padding: 5px 0;
    margin-bottom: 25px;
}

.timeline-column {
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-radius: 25px;
}

/*---------- Event Location / Dates ----------*/

.venue-dates {
    background-color: #f6bfca;
    padding: 25px;
}

.container-venue-dates {
    display: flex;
    flex-flow: column;
}

.venue-dates hr {
    background-color: #a0a8f0;
    border-radius: 50px;
    width: 100px;
    height: 5px;
}

/*------------- Bookings Section ------------*/

.bookings-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.booking-form {
    margin: 15px 0;
}

/*-------------- Audio Section ---------------*/

.band-bw-photo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    height: auto;
}

.audio-heading {
    justify-content: center;
    margin-top: 20px;
}

.album-cover-1 {
    display: flex;
    justify-content: center;
}

.album-cover-2 {
    display: flex;
    justify-content: center;
}

.audio-controls h5 {
    text-align: center;
} 

.audio-files hr {
    background-color: #a0a8f0;
    border-radius: 25px;
    width: 200px;
    height: 3px;
}

.best-of-audio {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.greatest-hits-audio {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.audio-row1,
.audio-row2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.best-of-audio,
.greatest-hits-audio {
    padding: 1rem;
}

audio {
    margin-bottom: 1rem;
}

/*-------------- Media Queries ---------------*/

@media only screen and (min-width: 768px) {
    .navbar-expand-md {
        padding: 0;
    }
}

@media only screen and (min-width: 1024px) {
    .container-venue-dates {
        align-items: center;
    }
}