@import url('https://fonts.googleapis.com/css?family=Oxygen:100,200,300,400,500,600,700|Lora:100,200,300,400,500,600,700');

html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: "Oxygen", sans-serif;
	font-weight: 600;
	color: #343a40;
	font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lora", sans-serif;
    font-weight: 800;
}

/*-- rem is calculated by assumption of 1rem => to 16px 
     therefore all resulting rem are based on desired px
     value divided by the inherited px value --*/
h1 {
    margin-top: 1.5rem;
    font-size: 1.25rem;
    text-shadow: 1px 1px #fbb56f;
}
    
h2 {
    font-size: 1.2rem;
    text-shadow: 1px 1px #fbb56f;
}

 h3 {
     font-size: 1.15rem;
 }
    
h4, h5, h6 {
    font-size: 1rem;
}

.container-fluid {
	padding: 0;
}

/* ----------- Bg Colors -------------*/

html, body {
    background-color: #8dc994;
}

footer {
    background-color: #343a40;
}

.venue-dates {
    background-color: #8dc994;
}

.venue-bg-color {
    background-color: #fbb56f;
    box-shadow: 9px 3px 29px 6px rgba(133,82,24,0.22);
    margin: .125rem;
    display: flex;
    border: solid 1px transparent;
    /*border-radius: .95rem;*/
}

/*----------- Header Logo ------------*/

.logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    height: auto;
    max-height: 16rem;
}

.logo-position {
    justify-content: center;
}

.music-icon {
    font-size: 4rem;
    text-align: center;
    text-shadow: 2px 2px #fbb56f;
}

/*------------ Home Page -------------*/

.band-1972 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    height: auto;
}

.band-1972-heading{
    text-align: center;
}

.new-album hr,
.video hr {
    background-color: #343a40;
    border-radius: 1.56rem;
    width: 12.5rem;
    height: .1875rem;
    margin-bottom: 1.25rem;
}

.xmas-cover-title {
    font-size: 1.375;
}

.xmas-cover-title,
.video-title,
.band-1972-heading {
    padding: .625rem 0;
}

/*-------------- Navbar --------------*/

.navbar-toggler {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-toggler-icon {
    color: #fbb56f;
}

.navbar-expand-md {
    padding: .32;
}

.navbar-collapse ul > li {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fbb56f;
    text-transform: uppercase;
    font-size: 1rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #d8a169;
    text-decoration: none;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.show-me {
    position: relative;
    text-align: center;
    margin: 0 auto;
}

/*----------- New Xmas Album -------------*/

.xmas-cover-title {
    display: flex;
    justify-content: center;
}

.xmas-cover-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.xmas-cover {
   display: block;
   width: 100%;
   max-width: 50rem; 
   height: auto; 
   margin: auto;
}

.album-columns-position {
    flex-flow: column nowrap;
}

.btn-center {
    display: flex;
    justify-content: center;
    margin-top: .625rem;
    margin-bottom: .95rem;
}

.btn-primary {
    color: #343a40;
    background-color: #fbb56f;
    border-color: transparent;
    box-shadow: 9px 3px 29px 6px rgba(133,82,24,0.22);
}

.btn-primary:hover {
    color: #343a40;
    border-color: transparent;
    background-color: #d8a169;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/* -------------- Video --------------------- */

video {
  width: 100% !important;
  height: auto !important;
}

.video-elms {
    margin-bottom: 1rem;
    justify-content: center;
}

.video-title {
    display: flex;
    justify-content: center;
}

/*------------ Venue Timeline ---------*/

.timeline-heading {
    font-size: 2rem;
}

.timeline-item {
    padding: 4em 2em 0 2em;
    position: relative;
    color: #343a40;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item::before {
    content: attr(dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Lora", sans-serif;
    font-weight: 500;
    font-size: .8em;
    margin: 0;
    padding: 0;
}

.timeline-item::after {
    width: 1em;
    height: 1em;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -.5em;
    border-radius: .75em;
    content: "";
    background-color: #fafafa;
}

.country-dates {
    padding: .3125rem 3.125rem;
}

.timeline-heading-container {
    display: flex;
    justify-content: center;
    padding: .3125rem 0;
    margin-bottom: -.9375rem;
    margin-top: 1.5625rem;
}

.venue-dates-heading-container {
    display: flex;
    justify-content: center;
    padding: .3125rem 0;
    margin-bottom: 1.5625rem;
}

.venue-dates-heading {
    font-size: 2rem;
}

#mobile-logo {
    width: 100%;
    height: auto;
    margin: 3.125rem auto .3125rem;
}

#mobile-only-logo {
    background-color: #fbb56f;
    border-radius: 1.5625rem;
    padding: .0625rem .625rem 2.1875rem;
    margin-top: 1.5625rem;
    box-shadow: 9px 3px 29px 6px rgba(133,82,24,0.22);
}

/*---------- Event Location / Dates ----------*/

.venue-dates {
    padding: 1.5625rem;
}

.venue-dates-positioning {
    margin: 0;
}

.container-venue-dates {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column nowrap;
    color: #343a40;
    padding: .3125rem;
    align-items: center;
}

/*-- Original code using classes to round corner elements,
     ID's would be better as each element is unique --*/

/*.top-left-corner { 
    border-radius: .95rem 0 0 0; } 

.top-right-corner { 
    border-radius: 0 .95rem 0 0; } 

.bottom-left-corner { 
    border-radius: 0 0 0 .95rem; } 

.bottom-right-corner { 
    border-radius: 0 0 .95rem 0; } */
    
/*-- End of Original Code --*/

/*-- More complex code with higher specificity --*/

.venue-dates > div:nth-child(2) > div:first-child { 
    border-radius: .95rem 0 0 0; 
} /* top left */
.venue-dates > div:nth-child(2) > div:last-child { 
    border-radius: 0 .95rem 0 0; 
} /* top right */
.venue-dates > div:nth-child(9) > div:first-child { 
    border-radius: 0 0 0 .95rem; 
} /* bottom left */
.venue-dates > div:nth-child(9) > div:last-child { 
    border-radius: 0 0 .95rem 0;
} /* bottom right */

/*-- End of higher specificity form of code --*/

.container-venue-dates > h4 {
    text-align: center;
}

.notice-info {
    margin: 3rem 1rem 1rem;
    padding: 1rem;
}

.notice-text {
    font-size: 1.5rem;
    font-weight: 700;
    text-shadow: 1px 1px #fbb56f;
}

/*------------- Bookings Section ------------*/

.bookings-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.booking-form {
    margin: .9375rem 0;
}

.photo-gallery {
    background-color: #fbb56f;
    padding: .9375rem .3125rem;
    margin-top: 1rem;
}

.gallery-align {
    display: flex;
    justify-content: center;
}

.color-pic {
    flex: initial;
    /*border: 1px solid transparent;*/
    border-radius: 1.5625rem;
    margin: .3125rem;
    box-shadow: 9px 3px 29px 6px rgba(133,82,24,0.22);
}

/*-------------- Listen Section ---------------*/

.band-bw-photo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    height: auto;
}

.audio-heading {
    justify-content: center;
    margin-top: 1.25rem;
}

.audio-players {
    justify-content: center;
}

.album-cover-2,
.album-cover-1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.audio-controls-heading {
    text-align: center;
} 

.audio-files hr {
    background-color: #343a40;
    border-radius: 1.5625rem;
    width: 12.5rem;
    height: .1875rem;
}

.hr-spacing {
    margin-top: .625rem;
    margin-bottom: 1.5rem;
}

.best-of-audio {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.greatest-hits-audio {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.audio-row1,
.audio-row2 {
    margin-top: .75rem;
    margin-bottom: .75rem;
}

.best-of-audio,
.greatest-hits-audio {
    padding: 1rem;
}

audio {
    border-radius: 1.5625rem; /*-- This is needed for similar styling on Mozilla --*/
    margin: .75rem auto;
}


/* ------------- About Page --------------- */

.bio-elms {
    align-items: center;
}

.bio-info {
    font-size: 1rem;
    padding-right: 1.25rem;
}

.bio-info-heading {
    font-size: 1.5rem;
    font-weight: 700;
}

.profile-pic-resize {
    border: 1px solid transparent;
    border-radius: .3125rem;
    box-shadow: 9px 6px 72px -5px rgba(0,0,0,0.60);
}

.profile-pic {
    padding-left: .625rem;
}

.list-group {
    padding-left: .3125rem;
}

.list-group-item-1 {
    margin-top: .3125rem;
}

.list-group-item-5 {
    margin-bottom: .3125rem;
}

.list-group-item-1,
.list-group-item-2,
.list-group-item-3,
.list-group-item-4,
.list-group-item-5 {
    color: #343a40;
}

.list-group-item-1:hover,
.list-group-item-2:hover,
.list-group-item-3:hover,
.list-group-item-4:hover,
.list-group-item-5:hover {
    background-color: #71a277;
    color: #fbb56f;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}


/* -------- Footer / Social Links --------- */

.footer-section {
    flex-flow: row wrap;
    align-items: center;
} 

.copyright-column,
.social-links-column {
    text-align: center;
}

.copyright-logo,
.copyright-description {
    color: #fbb56f;
}

.social-links li a i {
    padding: .3125rem .9375rem 1.5625rem 0;
    font-size: 2.5rem;
    text-align: center;
    color: #fbb56f;
}

.social-links li a i:hover {
    color: #d8a169;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links-column > ul {
    margin-top: 1rem;
    margin-bottom: .3125rem;
}

.copyright-logo {
    padding-top: .3125rem;
}

.band-logo-2 {
    background-size: auto;
    width: 90%;
    height: auto;
    max-height: 6.25rem;
    padding: .3125rem;
}

.logo-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-------------- Media Queries ---------------*/

@media all and (max-width: 768px) {
    .overlay {
        display: none;
    }
}

@media all and (min-width: 768px) {
    .navbar-dark .navbar-nav .nav-link {
        font-size: 24px;
    }
    
    h1 {
        font-size: 2.5rem;
    }
    
    h2 {
        font-size: 2rem;
    }
    
    h3 {
        font-size: 1.5rem;
    }
    
    h4, h5, h6 {
        font-size: 1.25rem;
    }
    
    .xmas-cover-title,
    .video-title,
    .band-1972-heading {
        padding: 1rem 0;
    }
    
    #mobile-only-logo {
        display: none;
    }
    
    .flip-image {
        border-radius: 1.5625rem;
    }
}

@media all and (min-device-width : 768px) and (max-device-width : 1023px) {
    .venue-dates-heading,
    .timeline-heading {
        font-size: 1.5rem;
    }
    
    .country-dates {
        padding: 0;
    }
    
    .notice-text {
        font-size: 1.2rem;
        text-shadow: .8px .8px #fbb56f;
    }
}

@media all and (min-width: 1024px) {
    .notice-text {
        font-size: 1.75rem;
        text-shadow: 1px 1px #fbb56f;
    }
    
    .container-venue-dates {
        align-items: center;
    }
    
    .audio-row1,
    .audio-row2 {
        margin-top: 2rem;
        margin-bottom: 2.5rem;
    }
    
    .profile-pic {
        padding-left: 1rem;
        margin-right: -1.25rem;
    }
    
    .bio-info {
        padding-left: 0;
        margin-left: 0;
    }
    
    .band-bw-photo {
        border-radius: 2.8125rem;
        box-shadow: 0 25px 62px 11px rgba(109,142,108,0.49);
    }
    
    .logo {
        border-radius: 2.8125rem;
        box-shadow: 0 0 46px 27px rgba(109,142,108,0.49);
    }
    
    .audio-elms-position {
        margin-bottom: 1.5rem;
    }
    
/*--==== Flip Image Element ===--*/

    .album-cover-1,
    .album-cover-2 {
        position: relative;
        width: 50%;
    }

    .flip-image {
        display: block;
        width: 100%;
        height: auto;
        min-width: 15.5rem;
        border-radius: 1.5625rem;
    }

    .overlay {
        position: absolute;
        bottom: 0;
        left: 100%;
        right: 0;
        background-color: #343a40;
        overflow: hidden;
        width: 0;
        height: 100%;
        border-radius: 1.5625rem;
        transition: .6s ease;
    }

    .album-cover-1:hover .overlay,
    .album-cover-2:hover .overlay {
        width: 94%;
        left: .65rem;
        opacity: .85;
    }

    .title-tracks {
        color: #fbb56f;
        font-size: 1.375rem;
        font-weight: 900;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        white-space: nowrap;
    } 
}